@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900');

// fonts
$raleway: 'Raleway', sans-serif;
$poppins: 'Poppins', sans-serif;

// colors
$chicago: #565452;
$twine: #C1905E;
$frolly: #EE6CA0;
$jaffa: #EB924D;
$sunflower: #E8C92E;
$sazerac: #FFF5E3;
$champagne: #FAEBD5;
